.main_box {
  @include main-box;
  padding: 15px;
}

.preview_box_wrap {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow: auto;
}
